---
import Hero from '@/components/Hero.astro';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Hero />

  <!-- reOS -->
  <div class='project-reos hero flex min-h-screen items-center justify-start'>
    <div class='z-10 mx-4 flex max-w-sm flex-col md:ml-20 xl:ml-96'>
      <h2 class='font-primary text-6xl font-bold'>
        reOS <span class='text-xl font-bold'>2018 - present</span>
      </h2>
      <strong class='font-primary text-2xl font-bold text-white'
        >TypeScript &amp; Scala
      </strong>
      <p class='py-8 text-white'>
        For the last 4 years, I’ve been apart of the brilliant team at reOS
        making rental books work like magic.
      </p>
      <div class='flex items-end justify-between'>
        <a
          class='hover:text-primary-500 font-bold text-white underline'
          href='https://reos.co.za/'
          target='_blank'
          rel='noreferrer'
          >View website
        </a>
        <p class='text-right text-white'>
          <strong>Role: Frontend Engineer</strong><br />
          User Experience<br />
          Frontend development<br />
          Backend development
        </p>
      </div>
    </div>
    <div class='project-reos--img hidden min-h-screen w-full lg:block'>
      &nbsp;
    </div>
  </div>

  <!-- TMT -->
  <div class='project-tmt hero flex min-h-screen items-center justify-start'>
    <div class='z-10 mx-4 flex max-w-sm flex-col md:ml-20 xl:ml-96'>
      <h2 class='font-primary text-6xl font-bold'>
        TMT <span class='text-xl font-bold'>2018 - present</span>
      </h2>
      <strong class='font-primary text-2xl font-bold text-white'
        >TypeScript &amp; React
      </strong>
      <p class='py-8 text-white'>
        I built the initial version of the customer facing dashboard for Trust
        My Travel in 2018. I’ve been enhancing and maintaining it with a small
        team of developers since.
      </p>
      <div class='flex items-end justify-between'>
        <a
          class='hover:text-primary-500 font-bold text-white underline'
          href='https://trustprotects.me/'
          target='_blank'
          rel='noreferrer'
          >View website
        </a>
        <p class='text-right text-white'>
          <strong>Role: Frontend Engineer</strong><br />
          Frontend development
        </p>
      </div>
    </div>
    <div class='project-tmt--img hidden min-h-screen w-full lg:block'>
      <div class='flex h-full min-h-screen w-full items-center justify-center'>
        <div>
          <img src='/assets/images/tmt-app.png' alt='TMT app' />
        </div>
      </div>
    </div>
  </div>

  <!-- Ekaya -->
  <div class='project-ekaya hero flex min-h-screen items-center justify-start'>
    <div class='z-10 mx-4 flex max-w-sm flex-col md:ml-20 xl:ml-96'>
      <h2 class='font-primary text-6xl font-bold'>
        Ekaya <span class='text-xl font-bold'>2017 - 2019</span>
      </h2>
      <strong class='font-primary text-2xl font-bold text-white'
        >TypeScript &amp; React
      </strong>
      <p class='py-8 text-white'>
        I was apart of small team of developers responsible for reskinning the
        VIP web app. I also integrated the bank statements upload feature.
      </p>
      <div class='flex items-end justify-between'>
        <a
          class='hover:text-primary-500 font-bold text-white underline'
          href='https://www.ekaya.com/vip'
          target='_blank'
          rel='noreferrer'
          >View website
        </a>
        <p class='text-right text-white'>
          <strong>Role: Frontend Engineer</strong><br />
          Frontend development<br />
          Backend development
        </p>
      </div>
    </div>
    <div class='project-ekaya--img hidden min-h-screen w-full lg:block'>
      <div
        class='flex h-full min-h-screen w-full items-center justify-center'
      >
        <div>
          <img src='/assets/images/ekaya-app.png' alt='Ekaya graphic' />
        </div>
      </div>
    </div>
  </div>
</Base>

<style>
  .project-reos {
    background-color: #000621;
  }
  .project-reos--img {
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/reos-app.png');
    background-size: initial;
    background-position: 100px center;
    background-repeat: no-repeat;
    z-index: 0;
  }
  @media (min-width: 768px) {
    .project-reos {
      background-image: url('/assets/images/reos-ring.svg');
      background-size: 50%;
      background-position: top right;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1280px) {
    .project-reos {
      background-size: 40%;
    }
  }

  @media (min-width: 2000px) {
    .project-reos--img {
      background-position: center;
    }
  }

  .project-tmt {
    background-color: #011829;
  }

  .project-tmt--img {
    background-image: url('/assets/images/tmt-bg.svg');
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
  }

  @media (min-width: 1280px) {
    .project-tmt--img {
      background-size: 50%;
    }
  }

  .project-ekaya {
    background-color: #0a1720;
  }

  @media (min-width: 768px) {
    .project-ekaya {
      background-image: url('/assets/images/ekaya-bg.svg');
      background-size: 70%;
      background-position: top right;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1280px) {
    .project-ekaya {
      background-image: url('/assets/images/ekaya-bg.svg');
      background-size: 50%;
      background-position: top right;
      background-repeat: no-repeat;
    }
  }

</style>
